@page "/Authentication/{component}"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<div class="d-flex m-auto d-flex m-auto justify-center align-center align-content-center" style="height: 100%; width: 100%;">
    @switch (Component.ToLower())
    {
        case "login":
            <Login ReturnUrl="@ReturnUrl"/>
            break;
        case "logout":
            <Logout/>
            break;
        case "register":
            <Register/>
            break;
        default:
            <NotFound/>
            break;
    }
</div>


@code {

    [Parameter]
    public string Component { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "returnUrl")]
    public string? ReturnUrl { get; set; }

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(ReturnUrl)) ReturnUrl = "/";
    }

}